<form class="form" name="loginForm" nonvalidate ng-submit="login()">
  <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid && loginForm.email.$dirty}">
    <label for="">email</label>
    <input type="email" name="email" class="form-control" ng-model="user.email" required>
    <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">Wrong Email</p> 
    </div>
  <div class="form-group">
    <label for="">password</label>
    <input type="password" name="password" class="form-control" ng-model="user.password" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      Login
    </button>
  </div>
</form>